In [1]:
#Dependencies
import pandas as pd
import requests
import json
import bs4 as BeautifulSoup

In [2]:
#Read kaggle csv
kaggle_df = pd.read_csv("../moviedata/movies_kaggle_tmdb.csv")

In [3]:
#Change release date type to datetime
kaggle_df["release_date"] = pd.to_datetime(kaggle_df["release_date"])

In [4]:
#Only keep movies released between 2018 and 2022
kaggle_dates = kaggle_df.loc[(kaggle_df["release_date"]>="2018-01-01")&
                             (kaggle_df["release_date"]<"2023-01-01")]

In [5]:
#Only keep the title, language, and runtime columns
kaggle_titles = kaggle_dates[["title","original_language","runtime"]]

In [6]:
#Drop duplicate titles
kaggle_titles.drop_duplicates(subset=["title"],inplace=True)

C:\Users\vinay\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
#Only keep english movies
kaggle_eng = kaggle_titles.loc[kaggle_titles["original_language"]=="en"]

In [8]:
#Filter movie runtime
kaggle_runtime = kaggle_eng.loc[(kaggle_eng["runtime"]>=90)&
                                (kaggle_eng["runtime"]<241)]

In [9]:
#Export to csv
kaggle_runtime.to_csv("../moviedata/kaggle_clean.csv",index=False)

In [10]:
#Display csv
kaggle_clean = pd.read_csv("../moviedata/kaggle_clean.csv")
kaggle_clean

                                         title original_language  runtime
0                     Avatar: The Way of Water                en    192.0
1               Black Panther: Wakanda Forever                en    162.0
2                 Puss in Boots: The Last Wish                en    103.0
3                            A Man Called Otto                en    126.0
4                              Shotgun Wedding                en    101.0
...                                        ...               ...      ...
11807                            Komaali Kings                en    125.0
11808                              Campus Life                en    118.0
11809  ONE Championship 104: Edge of Greatness                en    120.0
11810                In Sickness And In Health                en    104.0
11811                          DEFY Vibes 2018                en    120.0

[11812 rows x 3 columns]